.feedback-modal {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fdf5e6;
}

.feedback-text {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.feedback-text.correct {
  color: #32cd32;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(50, 205, 50, 0.5);
}

.feedback-text.incorrect {
  color: #dc3545;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(220, 53, 69, 0.5);
}

.feedback-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.retry-btn {
  background-color: #dc3545;
  color: white;
}

.next-btn {
  background-color: #007bff;
  color: white;
}

.modal-btns {
  display: flex;
  justify-content: space-around;
}
