/* Homepage.css */
.homepage {
  text-align: center;
  padding-top: 20px;
}

.homepage h1 {
  font-size: 3em;
  color: #2c3e50;
}

.homepage p {
  font-size: 1.3em;
  line-height: 1.7em;
  color: #34495e;
  margin-bottom: 30px;
}

.homepage button {
  font-size: 1.3em;
}
