.riddle-modal {
  width: 60%;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); /* Make it semi-transparent */
  backdrop-filter: blur(5px); /* Blurry backdrop for modern browsers */
}

.riddle-question {
  font-size: 2.5em; /* Increase font size */
  font-weight: bold;
  color: #ff4500; /* Same as site-title color */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* Same as site-title shadow */
  margin-bottom: 20px;
}

.riddle-image {
  width: 80%; /* Reduce size for better focus on text */
  height: auto;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  margin-bottom: 20px; /* Margin for spacing */
}

.choices-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

.choice-btn {
  flex-basis: 45%;
  margin: 2%;
  background-color: #32cd32; /* Same as general button color */
  color: white;
  font-size: 1.2em; /* Larger font size for readability */
  transition: 0.3s;
  font-weight: bold; /* Bold for better readability */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Same as general button shadow */
}

.choice-btn:hover {
  transform: scale(1.1); /* Same hover effect as general buttons */
  background-color: #228b22; /* Slightly darker green on hover */
}
