/* body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  line-height: 1.6;
}

h1,
h2 {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
} */
