html,
body {
  height: 100%;
  font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", cursive;
  background: url("/assets/bg4.png") no-repeat center center fixed;
  background-size: cover;
  color: #4b0082;
  line-height: 1.6;
  font-size: 1.2em;
}
